!! GM 8/07/19
!set path_module_tuto=wimshome/public_html/modules/local/data/oefacveractualite.fr/data/listetuto
!set nbtuto=!defof nbtuto in $path_module_tuto
              <div class="large reveal" id="tuto_accueil" data-reveal> 
                <div class="euler_actu_content_modal">
                  <h3 class="center euler_title_modal"><span>$wims_name_dochelp</span></h3>
                  <br class="spacer">
                  <ul>
                    !for numtuto=1 to $nbtuto
                      !set rec_tuto=!record $numtuto of $path_module_tuto
                      !set contenu_tuto=!lines2items $rec_tuto
                      !distribute items $contenu_tuto into link_tuto,title_tuto,format_tuto,credit_tuto
                      <li>
                        !if $format_tuto=pdf
                        <a href="$link_tuto" title="$title_tuto" target="wims_external"> $title_tuto </a> ($format_tuto) $credit_tuto
                        !else
                          !href module=$link_tuto $title_tuto
                          <span>$credit_tuto</span>
                        !endif
                        <br class="spacer">
                      </li>
                      !reset rec_tuto link_tuto title_tuto format_tuto credit_tuto
                    !next 
                  </ul>
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button> 
            </div>
          </div>
<script>
$$("#tuto_accueil").draggable();
</script>

